<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2011, 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ARTICLE/1.0"
            class="org.eclipse.oomph.releng.doc.article.ArticlePackage"
            genModel="model/article.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated article -->
      <factory
            uri="http://www.eclipse.org/ARTICLE/1.0"
            class="org.eclipse.oomph.releng.doc.article.provider.ArticleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecore.presentation.EcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor$Reflective"
            extensions="tree"
            icon="platform:/plugin/org.eclipse.emf.edit/icons/full/obj16/ModelFile.gif"
            id="org.eclipse.emf.ecore.presentation.ReflectiveEditorID"
            name="Snippet Tree Editor">
      </editor>
   </extension>
   
</plugin>
